#set($insertId = $util.autoId())

#set( $cols = [] )
#set( $vals = [] )

#set($ctx.args.createPropertyListingInput.created_at = $util.time.nowEpochSeconds() )
#set($ctx.args.createPropertyListingInput.updated_at = $util.time.nowEpochSeconds() )
#set($ctx.args.createPropertyListingInput.insert_uuid = $insertId)

#foreach( $entry in $ctx.args.createPropertyListingInput.keySet() )
  #set( $discard = $cols.add($entry) )

  #if($util.isBoolean($ctx.args.createPropertyListingInput[$entry]))
    #set($isTrue = $ctx.args.createPropertyListingInput[$entry] == true)
    #set( $discard = $vals.add("#if($isTrue)1#{else}0#end") )
  #elseif($util.isNullOrEmpty($ctx.args.createPropertyListingInput[$entry]))
    #set( $discard = $vals.add(null) )
  #else
    #set( $discard = $vals.add("'$ctx.args.createPropertyListingInput[$entry]'") )
  #end
#end

#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO propertyListing $colStr VALUES $valStr", "SELECT * FROM propertyListing WHERE insert_uuid='$insertId' ORDER BY id DESC LIMIT 0, 1"]
}