#set($insertId = $util.autoId())

#set( $cols = [] )
#set( $vals = [] )

#set($ctx.args.createPropertyOfInterestInput.created_at = $util.time.nowEpochSeconds() )
#set($ctx.args.createPropertyOfInterestInput.updated_at = $util.time.nowEpochSeconds() )
#set($ctx.args.createPropertyOfInterestInput.insert_uuid = $insertId)

#foreach( $entry in $ctx.args.createPropertyOfInterestInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createPropertyOfInterestInput[$entry]'") )
#end

#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO propertyOfInterest $colStr VALUES $valStr", "SELECT * FROM propertyOfInterest WHERE insert_uuid='$insertId' ORDER BY id DESC LIMIT 0, 1"]
}