{
  "version": "2018-05-29",
  "statements":   ["DELETE FROM propertyOfInterestImage WHERE property_of_interest_id = $ctx.args.property_of_interest_id", "SELECT $ctx.args.property_of_interest_id as property_of_interest_id"]
}