#set( $updateList = {} )
#set($ctx.args.updatePropertyOfInterestInput.updated_at = $util.time.nowEpochSeconds() )

#foreach( $entry in $ctx.args.updatePropertyOfInterestInput.keySet() )
  #if($util.isBoolean($ctx.args.updatePropertyOfInterestInput[$entry]))
    #set($isTrue = $ctx.args.updatePropertyOfInterestInput[$entry] == true)
    #set( $discard = $updateList.put($entry, "#if($isTrue)1#{else}0#end") )
  #else
    #set( $discard = $updateList.put("`$entry`", "'$ctx.args.updatePropertyOfInterestInput[$entry]'") )
  #end
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE propertyOfInterest SET $update WHERE id=$ctx.args.updatePropertyOfInterestInput.id", "SELECT * FROM propertyOfInterest WHERE id=$ctx.args.updatePropertyOfInterestInput.id"]
}